#  MRDC raw .tar 
mrdc_raw_data_db.tar 

 
# card_details.json


# Ignore environment variable file
.env

# Ignore database credentials
db_creds_raw.yaml

db_creds_cleaned.yaml 

# Ignore all config files
config/

# Ignore all log files
*.log

